.cafea{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.rizky-subagja-1k7tnx5gaww-unsplash2{
height:1024px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}
.cafea2{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
line-height:auto;
border-style:hidden;
outline:none;
left:691px;
top:30px;
position:absolute;
width:58px;
}
.cafeaespreso{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:129px;
width:1387px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cafealunga{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:285px;
width:1373px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cappucino{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:440px;
width:1396px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.caffefrappe{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:26px;
top:521px;
width:1385px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ceaifructe{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:594px;
width:1385px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cafealungaculapte{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:363px;
width:1384px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cafeaespresoculapte{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:207px;
width:1384px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cafeaboabelaptecondensat
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:241px;
width:630px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line65
{
width:293px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:275px;
left:26px;
position:absolute;
}
.-cafeaboabe2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:163px;
width:630px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line69
{
width:130px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:197px;
left:25px;
position:absolute;
}
.cafeaboabe{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:319px;
width:630px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line70
{ width:134px; transform:rotate(0deg); border:1px solid #ffffff; top:353px; left:25px; position:absolute; -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg);
}
.cafeaboabespumadelapte{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:475px;
width:631px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line67
{
width:294px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:511px;
left:30px;
position:absolute;
}
.cafeaboabelapte{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:25px;
top:396px;
width:631px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line66{
width:205px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:430px;
left:26px;
position:absolute;
}
.cafeaness_boabe_inghetata_gheata_spumadelapte_frischatopping{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:26px;
top:556px;
width:1200px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line68
{
width:708px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:590px;
left:25px;
position:absolute;
}
.vector
{
background-color:#eee4e4;
height:32px;
width:30px;
left:29px;
top:25px;
position:absolute;
}
